<html class="gr__getbootstrap_com">
    <title>
        React Starter Kit
    </title>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="background text-center text" data-gr-c-s-loaded="true">
        <div class="container">
            <div class="center">
                <div role="main" class="inner cover">
                    <h1 class="cover-heading">React Starter Kit</h1>
                </div>
                <form action="/api">
                        <div>
                            <input type="text" name="name"/>
                        </div>
                        <div>
                            <input type="radio" name="archive_type" value="zip" checked>
                            <label for="zip">Zip</lable>
                            <input type="radio" name="archive_type" value="tar">
                            <label for="tar">Tar</lable>
                        </div>
                    <input type="submit" value="Download" class="btn btn-lg btn-secondary"/>
                </form>
            </div>
        </div>
    </body>
</html>