<html>
    <title>
        React Starter Kit
    </title>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .background{
                background-color : #212121
            }
            .text{
                color : #ffffff
            }
        </style>
    </head>
    <body class="background text-center text">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <div role="main" class="inner cover">
                <h1 class="cover-heading">React Starter Kit</h1>
            </div>
            <form action="/api">
                    <div>
                        <input type="text" name="name"/>
                    </div>
                    <div>
                        <input type="radio" name="archive_type" value="zip" checked>
                        <label for="zip">Zip</lable>
                        <input type="radio" name="archive_type" value="tar">
                        <label for="tar">Tar</lable>
                    </div>
                <input type="submit" value="Download" class="btn btn-lg btn-secondary"/>
            </form>
        </div>
    </body>
</html>